<div class="row">
<hr>
<div class="large-8 columns">
<h4>History of 7Music</h4>
<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
<i class="fi-social-twitter"></i>
</div>
<div class="large-4 columns">
<img src="http://placehold.it/400x300&text=[img]">
</div>
</div>

<div class="row">
<div class="large-12 columns">
<hr>
<h4>Contact Me</h4>
<p></p>
<div class="large-4 columns">
<a href="newmessage" class="button round">Message Richie</a>
</div>
<div class="large-4 columns">
Instagram: @invalidusernamebud
</div>
<div class="large-4 columns">
Location: Sydney, Australia 
</div>
</div>
</div>
