<center><h1>Log in</h1></center>

<div class="row">
  <div class="large-12 columns">

      <label>User name
       <input type="text" placeholder="" />

       <label>Password
       <input type="password" placeholder="" />

       <a href="profile" class="button round">Log In</a>

  </div>
</div>