<form>
	<p></p>
	<center><h3> New Message to User name </h3></center>
  <div class="row">
    <div class="large-12 columns">
      <label>Message Subject
        <input type="text" placeholder="Enter Message Subject" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Message Content
        <textarea placeholder="Enter Message Content"></textarea>
      </label>
    </div>
  </div>
  <center><a href="userinbox" class="button round">Send</a></center>
</form>