<center><h2> Submitting Request to Project </h2></center>

<form>

  <div class="row">
    <div class="large-12 columns">
      <label>Request Description
        <textarea placeholder="E.g I will add funky guitars in the chords of Dm Cm Fmaj Dmaj and a funky bass line from a bass guitar"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Royalty Cut
        <select>
          <option value="10">10%</option>
          <option value="15">15%</option>
          <option value="20">20%</option>
          <option value="25">25%</option>
          <option value="30">30%</option>
          <option value="35">35%</option>
          <option value="40">40%</option>
          <option value="45">45%</option>
          <option value="50">50%</option>
          <option value="55">55%</option>
        </select>
      </label>
    </div>
  </div>

  <center><a href="viewproject" class="button round">Send Request </a></center>
</form>