<center><h2> Post a Project </h2></center>

<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Project Title
        <input type="text" placeholder="E.g Funky Deep House Project" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Project Genre 1
        <input type="text" placeholder="e.g Deep House" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Project Genre 2
        <input type="text" placeholder="e.g Funky" />
      </label>
    </div>
</div>

  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Created on
        <select>
          <option value="flStudio">FL Studio</option>
          <option value="ableton">Ableton</option>
          <option value="protools">Pro Tools</option>
          <option value="cubase">Cubase</option>
          <option value="other">Other</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Upload Project Track (MP3 and WAV's are acceptable)</label>
      <input type="file" id="fileinput" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Project Description
        <textarea placeholder="E.g I already have the drums and synth's for the intro and verse/chorus, but what I need is funky guitars in the chords of Dm Cm Fmaj Dmaj and a funky bass line from a bass guitar. (also put in royalty percentage split i.e I am taking 50% so there is another 50% up for taking"></textarea>
      </label>
    </div>
  </div>
  <center><a href="profile" class="button round">Done</a></center>
</form>