<div class="row">
 
<div class="large-4 small-12 columns">
<img src="http://placehold.it/500x500&amp;text=Logo">
<div class="hide-for-small panel">
<h3>User name</h3>
<h5 class="subheader"> Location, Age, Digital Audio Workstation, Contribution Count etc</h5>
</div><a href="newmessage">
<div class="panel callout radius">
<h6>Message user name </h6>
</div></a>
</div>


<p><h4>  username Has Posted These Projects </h4></p>

<div class="large-8 columns">
<div class="row">
<div class="large-4 small-6 columns">
<img src="http://placehold.it/1000x1000&amp;text=Thumbnail">
<div class="panel">
<a href="viewproject"><h5>Project Name</h5></a>
<h6 class="subheader">Project Description</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<a href="viewproject"><h5>Project Name</h5></a>
<h6 class="subheader">Project Description</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<a href="viewproject"><h5>Project Name</h5></a>
<h6 class="subheader">Project Description</h6>
</div>
</div>

<p><h4>  username Has Contributed to These Projects </h4></p>

<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<a href="viewproject"><h5>Project Name</h5></a>
<h6 class="subheader">Project Description</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<a href="viewproject"><h5>Project Name</h5></a>
<h6 class="subheader">Project Description</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<a href="viewproject"><h5>Project Name</h5></a>
<h6 class="subheader">Project Description</h6>
</div>
</div>
</div> 
