<form data-abide>
<div class="row">
  <div class="large-10 columns">

      <label>User name <small>required</small>
       <input type="text" />
       </label>

       <label>Email <small>required</small>
       <input type="email" required>

       <label>Password <small>required</small>
       <input type="password" id="password">

       <label>Confirm Password <small>required</small>
       <input type="password" id="confirmpassword">
<p></p>
       <a href="login" class="button round">Sign Up</a>

  </div>
</div>
</form>