<div class="row">
 
<div class="large-9 columns" role="content">
<article>
<h3><a href="#">Project Title</a></h3>
<h6>Posted by <a href="#">User name</a> on date project created </h6>
<div class="row">
<div class="large-6 columns">
<p>Project description</p>
<img src="http://placehold.it/400x240&text=[img]"/>
</div>
</div>
</article>
<hr/>
<a href="newrequest" class="button round">Request to Contribute</a>
<article>
<h4><a href="#">Project Contribution</a></h4>
<h6>Contribution from <a href="#">User name </a> on date Contribution was added.</h6>
<div class="row">
<div class="large-4 columns">
<p>Contribution Description </p>
</div>
</div>
</div>
</article>

