<div class="row">
<div class="large-12 columns">
<div class="radius panel">
<form>
<div class="row collapse">
<div class="large-10 small-8 columns">
<input type="text"/>
</div>
<div class="large-2 small-3 columns">
<a href="#" class="postfix button expand">Search</a>
</div>
</div>
</form>
</div>
</div>
</div>
 
 
<div class="row">
<div class="large-12 show-for-small columns">
<h3>Header</h3><hr>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
</div>
</div>
<div class="row">
<div class="large-12 show-for-small columns">
<h3>Header</h3><hr>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
<div class="panel">
<a href="viewproject"><p>Description</p></a>
</div>
<ul class="pagination">
  <li class="arrow unavailable"><a href="">&laquo;</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">&hellip;</a></li>
</ul>
</div>
</div>
