<li class="signup"><a href="signup">Sign Up</a></li>
<li class="login"><a href="login">Log In</a></li>
<li class="profile"><a href="profile">My Profile</a></li>
<li class="postproject"><a href="postproject">Post A Project</a></li>
<li class="whatshot"><a href="whatshot">Trending Projects</a></li>
<li class="logout"><a href="#">Log Out</a></li>
<li class="about"><a href="about">About 7Music</a></li>
<li class="userinbox"><a href="userinbox">Messages</a></li>